USE [master]
GO
/****** Object:  Database [Articles]    Script Date: 04/03/2023 17:22:37 ******/
CREATE DATABASE [Articles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Articles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Articles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Articles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Articles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Articles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Articles]
GO
/****** Object:  User [deyaadb]    Script Date: 04/03/2023 17:22:37 ******/
CREATE USER [deyaadb] FOR LOGIN [deyaadb] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Category] [int] NOT NULL,
	[IsFavorite] [bit] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Level] [nvarchar](10) NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Exception] [nvarchar](max) NULL,
	[Logger] [nvarchar](255) NULL,
	[Url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD FOREIGN KEY([Category])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Articles] FOREIGN KEY([ID])
REFERENCES [dbo].[Articles] ([ID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Articles]
GO
/****** Object:  StoredProcedure [dbo].[splGetArticles]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[splGetArticles]

AS
BEGIN
SELECT ID, Title, Description, Image, Category, IsFavorite, c.CategoryName
FROM [dbo].[Articles] a inner join Categories c on a.Category = c.CategoryId
END
GO
/****** Object:  StoredProcedure [dbo].[splGetCategories]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[splGetCategories]

AS
BEGIN
SELECT CategoryId, CategoryName FROM [dbo].[Categories]
END
GO
/****** Object:  StoredProcedure [dbo].[splGetCategoryArticles]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[splGetCategoryArticles]

@id int

AS
BEGIN
SELECT ID, Title, Description, Image, Category, IsFavorite, c.CategoryName 
FROM [dbo].[Articles] a inner join Categories c on a.Category = c.CategoryId
WHERE a.Category = @id
END
GO
/****** Object:  StoredProcedure [dbo].[splGetFavoriteArticles]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[splGetFavoriteArticles]

AS
BEGIN
SELECT ID, Title, Description, Image, Category, IsFavorite, c.CategoryName
FROM [dbo].[Articles] a inner join Categories c on a.Category = c.CategoryId
WHERE IsFavorite = 1
END
GO
/****** Object:  StoredProcedure [dbo].[splUpdateArticleFavorite]    Script Date: 04/03/2023 17:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[splUpdateArticleFavorite]
@Id int,
@isFavorite bit

AS
BEGIN
UPDATE [dbo].[Articles]
SET IsFavorite = @isFavorite
WHERE ID = @Id
END
GO
USE [master]
GO
